.submit-button-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit-button {
  border: none;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  border-radius: 30px !important;
  height: 3rem !important;
  font-family: 'CommonGround', sans-serif;
  font-weight: 600;

  font-size: 18px;
}

.submit-button:active,
.submit-button:hover,
.submit-button:focus,
.submit-button:focus-visible,
.submit-button:disabled {
  background: rgba(255, 255, 255, 0.12) !important;
  color: white !important;
}

.right-form-page {
  padding-top: 80px !important;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  /* background: rgba(0, 0, 0, 0.8); */
  /* background: rgba(0, 0, 0, 0); */
  backdrop-filter: blur(10px);
  border-radius: 20px;
  /* min-height: 350px; */

  overflow: auto;
  max-height: 100vh;
}

@media (min-width: 992px) {
  .right-form-page {
    width: 63%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .right-form-page {
    width: 80%;
  }
}

.add-participant-form .main-heading {
  font-weight: normal;
  padding: 0px 4px;
  margin-bottom: 0px;
  font-size: 2rem;
  letter-spacing: 1px
}

.add-participant-form .sub-heading {
  font-weight: normal;
  padding: 0px 4px;
  font-size: 1rem;
  letter-spacing: 1px
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.terms-and-condition-ol>li {
  margin-bottom: 6px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #F0F0F0;
  line-height: 27px;
}

.terms-and-condition-ol {
  border-bottom: 1px solid rgba(214, 213, 207, 1);
  padding: 22px;
}

.terms-check {
  padding-left: 13px;
  user-select: none;
  cursor: pointer;
  font-weight: 300;
  color: #F0F0F0;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 1px;
}

.form-check-input {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

.form-check-input:checked {
  background-color: inherit;
  border-color: rgba(255, 255, 255, 0.5);
}

.form-check-input:focus {
  border-color: rgba(255, 255, 255, 0.5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.09);
}